h1 {


background-color:black;
opacity:0.5;
color:white;
font-family:Impact;
font-weight:bold;
width:1500;
border:10px 30px;
font-family:Impact;
width:1300px;

}


body {

background-color:silver;

background-position:top-right;
text-align:center;
float:left;
font-size:19px;
}

img {
float:left;
height:500px;
width:680px;
margin:7px 250px;
}

ul li a {

float:left;
width: 1200px;
height:50px;
background-color:black;
opacity:0.75;
line-height:45px;
text-align:center;
margin:1px 0px 0px 0px;
text-decoration:none;
color:white;
font-size:20px;
border:10px 5px;
font-weight:bold;
font-weight:Impact;

}

ul {
list-style:none;
}

.s h1 {

width:1200px;
}

h3 {

background:darkorchid;
color:black;
font-family:Impact;
text-align:center;
font-weight:bold;
width:1200px;
height:60px;
line-height:45px;
margin:600px 10px 20px 2px;
}
p {

color:purple;
font-family:geneva;
text-align:center;
}

div #imgg1 {

width:10px;
height:400px;
margin:80px 10px 0 0;
}









